<ion-header>
  <ion-toolbar>
    <ion-title>
      QR Code Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-select type="text"  placeholder="Seleccionar Cliente" [(ngModel)]="cli">
  <ion-select-option *ngFor="let cliente of clientes" >{{cliente.nombre}}</ion-select-option>
  </ion-select>
  <ion-textarea placeholder="QR Data" [(ngModel)]="qrData"></ion-textarea>

 <ion-button full icon-left (click)="createCode()">
  <ion-icon  name="barcode"></ion-icon>
  Create
 </ion-button>

 <qr-code [value]="createdCode" size="300" errorCorrectionLevel="M"></qr-code>

</ion-content>